body {
  background-image: radial-gradient(#d3a625 1px, transparent 1px), radial-gradient(#d3a625 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-color: #740001;
}
